<div id="idea-main">
  <div id="idea-inner">
    <h1 class="title">안녕하세요.</h1>
    <h2 class="subtitle">저는 현재 2개의 아이디어를 구상하고 있습니다.</h2>
    <ul>
      <li>
      첫째로, 제가 수업시간에 발표했던 펜션에 관한 아이디어입니다.
      대학생들이나 커플분들이 평소에 여행을 떠나게되면 당연히 이용하게 되는게 펜션인데요.
      펜션을 예약하려 하면 보통은 위치에 따라, 가격에 따라 펜션들을 우선적으로 고르게 되고,
      각 펜션들의 부가시설(바베큐장, 마트위치, 취사가능여부.. 등)들을 펜션마다 하나씩 체크해보며 최대한
      개인의 선호에 가장 부합하는 펜션을 고르게 됩니다. 저도 펜션을 예약해서 친구들과 놀러가려할 때마다
      어디는 바베큐가 안되고, 어디는 심지어 취사가 불가능하고.. 그래서 참 예약하는데에 시간을 많이
      쓰곤 했습니다.
      그래서 제가 생각한게 우선적으로 펜션을 선택할때 자신이 원하는 부가시설을 선택한 후, 그에 따라
      펜션을 찾으면 참 좋겠다고 생각했습니다. 예를 들면 바베큐 가능한 곳, 근처에 마트가 있는 곳,
      애완동물의 출입이 가능한 곳 등을 선택하면 그에 부합하는 펜션들을 나열해 보여주는 겁니다.
      그렇게 되면 펜션을 선택할 때에 더 좋은 조건의 펜션을 가격을 비교해가며 더 값지게 이용할 수 있을
      것이라 생각합니다. 그리고 가능할지는 모르겠지만, 우리 사이트가 중간 업체의 개념이 되어서 우리 사이트에서
      예약하는 고객에 한해서 약간의 할인을 적용해주게 된다면 약간의 수익도 기대할 수 있을거라 생각합니다.
      </li>
      <li>
      둘째로, 발표는 하지 않았으나 저의 개인적인 사용을 위해서 만들고 싶은 아이디어입니다. 물론 저뿐만 아니라
      다른 분들도 사용하기에 좋을거라 생각합니다.
    
      저는 평소에 다른때에는 잘 모르겠으나 특히 식사 메뉴를 고를때 뭘 먹을까 꽤나 우물쭈물하는 편입니다. 그래서
      친구들이 선택장애라고 장난치기도 합니다. 그래서 저는 내가 먹고싶은 음식을 찾아주는 서비스가 있으면 꽤 유용할
      거라 생각했습니다. 보통 분들도 뭔가를 먹고싶기는 한데 자기가 뭘 먹고싶어하는건지 잘 모르실때가 있는데,
      그런걸 찾아주게된다면 참 좋을거라 생각합니다.
      예를들면 이런방식으로 말이죠. 먼저 1차로 현재 먹고 싶은 음식이 따뜻한 음식인지, 차가운 음식인지를 고르는
      겁니다. 2차로 매운 음식인지, 짠 음식인지.. 등을 고릅니다. 3차로 찌게처럼 끓여 먹는 음식인지, 볶음 음식인지,
      국물이 있는 음식인지 등을 고릅니다. 이런 식으로 적당히 그리 많지 않은 n차까지의 과정을 거치게 되면 미리
      분류해둔 음식의 특징에 따라 n차 까지 선택에 부합하는 음식들을 보여주는 겁니다. 물론 여기서도 못정하시는 분들이
      계실텐데, 그때에는 랜덤뽑기 같은 기능을 넣어서 강제적으로 하나를 골라주는 것도 좋을것 같습니다.
      
      또, 회원기능을 넣어서 가입하신 회원분들은 평소에 먹는 음식들을 조금 더 자세히 추천해주면 더 좋을것 같습니다.
      예를 들면, 빅데이터처럼 회원분이 시간대별로 보통 어떤 음식을 먹었는지, 날씨에 따라서는 어떤 음식을 선호해왔는지..
      등을 고려하여 그날의 추천음식(?)같은 개념을 넣는겁니다.
      
      그리고 결과적으로 추천받은 그 음식에 관하여 주변 맛집, 배달 음식점 등을 제공해주면 더욱 좋을 것 같습니다.
      
      마지막으로, 맛집 검색 기능도 넣어서, 인터넷에 흔히 검색하면 나오는 블로거들의 맛집이 아닌, 실제적으로
      사이트 분들이 평가하고 코멘트를 달수있는 기능을 넣어서, 진짜 맛집을 추천해주면 좋을 것 같습니다.
      </li>
    </ul>
  </div>
</div>